
*{
  margin: 0;
  padding: 0;
}

.container{
  height: 100vh;
  width: 100%;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main .left-in{
  display: flex;
  flex-direction: row;
}
h4{
  margin-bottom: 15px;
}

input{
  letter-spacing: 1px;
  font-weight: 100;
  width: 50px;
  height:40px;
  margin-right: 9px;
  border-radius: 5px;
  border-style: none;
  background-color:#FF9EAA ;
  text-align: center;
}
 .yr{
  width: 80px;
}

.main .right-in{
  display: flex;
  flex-direction: row; 
}

.notification{
  position: absolute;
  color: red;
  font-weight: 500;
  font-size: 6px;
  text-align: center;
  margin-left: 5px;
  margin-top: 8px;

}
.bottom{
  position: absolute;
  margin-top: 110px;
 }
button {
  font-size: 10px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
  margin-top: 35px;
 }
 
 button:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
 }
 
 button:active {
  transform: translate(0em, 0.2em);
 }

@media screen and (max-width: 600px){
  .main{
    width: 30%;
    height: 100vh;
    margin: auto;
  }
  .bottom{
    position: absolute;
    margin-top: 120px;
  }
}